@color-scheme: dark;

@font-weight-bold: 600;
@font-weight-semibold: 500;
@font-weight-regular: 400;
@font-weight-light: 300;

@font-face {
    font-family: 'Wotfard';
    font-style: normal;
    font-weight: @font-weight-regular;
    src: local('Wotfard'), url('https://jmtlj.github.io/assets/fonts/wotfard-regular-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'Wotfard';
    src: local('Wotfard'), url('https://jmtlj.github.io/assets/fonts/wotfard-bold-webfont.woff2') format('woff2');
    font-weight: @font-weight-bold;
    font-style: normal;
}

@font-face {
    font-family: 'Wotfard';
    src: local('Wotfard'), url('https://jmtlj.github.io/assets/fonts/wotfard-semibold-webfont.woff2') format('woff2');
    font-weight: @font-weight-semibold;
    font-style: normal;
}

@font-family: 'Wotfard';
@font-family-mono: 'League Mono', 'Fira Mono', monospace;

@color-text: hsl(0deg, 0%, 100%);
@color-background: hsl(274deg, 16%, 8%);
@color-blurred-background: hsla(210deg, 30%, 8%, 0.85);

@color-primary: hsl(333deg, 100%, 52%);
@color-secondary: hsl(230deg, 92%, 63%);
@color-tertiary: hsl(53deg, 100%, 50%);
@color-decorative: hsl(200deg, 50%, 60%);
@color-muted: hsl(210deg, 38%, 15%);

@color-error: hsl(340deg, 95%, 60%);
@color-error-background: hsla(340deg, 95%, 43%, 0.1);

@color-success: hsl(160deg, 100%, 40%);
@color-success-background: hsla(160deg, 100%, 40%, 0.1);

@color-alert: hsl(30deg, 100%, 50%);
@color-alert-background: hsla(38deg, 100%, 50%, 0.1);

@color-gray-300: hsl(223deg, 5%, 30%);
@color-gray-500: hsl(223deg, 5%, 50%);
@color-gray-700: hsl(223deg, 5%, 60%);

@color-link: hsl(250deg, 100%, 77.5%);

@selection-background-color: hsl(0deg, 0%, 100%);
@selection-text-color: hsl(0deg, 0%, 0%);

@gradient-buy: linear-gradient(245deg, hsl(333deg, 100%, 52%) 5%, hsl(333deg, 100%, 40%) 90%);

@reach-dialog: 1;

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

h1, h2, h3, h4, h5, h6, p {
    text-rendering: optimizelegibility;
}

h1, h2, h3, h4, h5, h6, strong {
    font-weight: @font-weight-bold;
}

* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    line-height: 1.45;
}

body {
    font-family: @font-family;
    font-weight: @font-weight-light;
    color: @color-text;
    background: @color-background;
}

main {
    max-width: 100%;
    overflow: hidden;
}


a {
    color: @color-link;
    text-decoration: none 1px;
    text-underline-offset: 2px;
}

.spacer-8 {
    min-width: 8px;
    min-height: 8px;
}

.spacer-16 {
    min-width: 16px;
    min-height: 16px;
}

.spacer-24 {
    min-width: 24px;
    min-height: 24px;
}

.spacer-36 {
    min-width: 36px;
    min-height: 36px;
}

.spacer-72 {
    min-width: 72px;
    min-height: 72px;
}

header {
    display: block;
    background: rgba(21, 17, 24, 0.5);
    backdrop-filter: blur(10px);
    position: fixed;
    z-index: 10;
    top: 0px;
    left: 0px;
    right: 0px;
    will-change: transform;

    .max-width-wrapper {
        display: flex;
        -webkit-box-pack: end;
        justify-content: flex-end;
        -webkit-box-align: baseline;
        align-items: baseline;
        padding-top: 16px;
        padding-bottom: 16px;
        text-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px;
        position: relative;
        width: 100%;
        max-width: 888px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 32px;
        padding-right: 32px;

        @media (max-width: 563px) {
            padding-left: 16px;
            padding-right: 16px;
        }

        .header-actions {
            display: flex;

            .header-button {
                color: white;
                padding: 8px 20px;
                border: none;
                background: transparent;
                border-radius: 6px;
                font-size: 1rem;
                cursor: pointer;
                outline: none;
            }

            .header-login-button {
                font-weight: 300;
                opacity: 0.75;
                transition: opacity 400ms;

                &:hover {
                    opacity: 1;
                }
            }

            .header-enroll-button {
                position: relative;
                text-shadow: oklch(0.44 0.2 21.89) 0px 1px 1px;
                font-weight: @font-weight-semibold;

                .header-buy-background {
                    position: absolute;
                    inset: 0px;
                    background: oklch(0.6 0.3 20.33);
                    border-radius: 6px;
                    transition: transform 750ms;
                    will-change: transform;
                }

                .header-text {
                    position: relative;
                    z-index: 1;
                    color: @color-text;
                }
            }

            .header-enroll-button:hover {
                .header-buy-background {
                    transition: transform 150ms;
                    transform: scale(1.05);
                }
            }
        }
    }
}

section.hero-wrapper {
    position: relative;
    height: 100vh;
    min-height: 750px;
    max-height: 850px;

    .hero-gradient {
        position: absolute;
        z-index: -3;
        top: 50%;
        left: 0px;
        width: 100%;
        height: 50%;
        background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.14) 100%);
    }

    .hero-swoop {
        position: absolute;
        z-index: -2;
        left: 0px;
        right: 0px;
        bottom: -75px;
    }

    .hero-content {
        height: 100%;
        min-height: 650px;
        max-height: 750px;
        display: flex;
        flex-direction: column;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;

        @media (max-width: 768px) {
            align-items: flex-start;
            padding: 32px 24px 0px;
        }

        .hero-heading {
            font-size: min(72px, 8vw);
            font-weight: @font-weight-semibold;
            margin: 0px;
            width: max-content;
            text-align: center;
            background-color: rgb(255, 178, 62);
            background-image: linear-gradient(268.67deg, rgb(255, 255, 255) 3.43%, rgb(255, 240, 102) 15.69%, rgb(255, 163, 26) 55.54%, rgb(255, 0, 115) 99%);
            background-size: 100%;
            background-clip: text;
            -webkit-text-fill-color: transparent;

            br {
                display: none;
            }

            @media (max-width: 768px) {
                font-size: 12vw;
                text-align: left;
                line-height: 1.2;

                br {
                    display: block;
                }
            }

        }

        h2.hero-subheading {
            font-size: 30px;
            font-weight: 300;
            max-width: 818px;
            text-align: center;

            @media (max-width: 768px) {
                text-align: left;
                font-size: 21px;
            }

            .hero-mobile-text {
                display: none;
            }

            @media (max-width: 500px) {
                .hero-desktop-text {
                    display: none;
                }

                .hero-mobile-text {
                    display: block;
                }
            }
        }

        .hero-author {
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            color: @color-gray-700;
            font-size: 18px;
            cursor: default;

            img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }

            a {
                font-weight: 400;
                color: white;
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline 1px;
                text-underline-offset: 2px;
            }
        }
    }
}